flask
requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-urllib
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-wsgi
opentelemetry-instrumentation-requests